[submodule "python-mode"]
	path = python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim-golang"]
	path = vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim-instant-markdown"]
	path = vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "vim-erlang-skeletons"]
	path = vim-erlang-skeletons
	url = https://github.com/vim-erlang/vim-erlang-skeletons.git
[submodule "vim-erlang-runtime"]
	path = vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime.git
[submodule "vim-erlang-tags"]
	path = vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule "vim-erlang-omnicomplete"]
	path = vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-bracketed-paste"]
	path = vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "vim-ref"]
	path = vim-ref
	url = https://github.com/thinca/vim-ref.git
